[Desktop Entry]
Type=Application
Version=1.0
Name=dotctl Tray
Comment=dotctl system tray app
Exec=dotctl-tray
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
